@model UdemyIdentity.ViewModes.LoginViewModel

@{
    ViewData["Title"] = "LogIn";
}

<div class="row">

    <div class="col-md-4 offset-md-4">
        <h4>Üye Giriş Formu</h4>
        <hr />
        <form asp-action="LogIn" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="checkbox" asp-for="RememberMe" /> Beni Hatırla
            </div>
            <div class="form-group">
                <input type="submit" value="Giriş yap" class="btn btn-primary" />
            </div>
        </form>

        <a class="btn btn-info btn-block" asp-action="FacebookLogin">Facebook ile giriş yap</a>
        <a class="btn btn-info btn-block" asp-action="GoogleLogin">Google ile giriş yap</a>

        <a class="btn btn-info btn-block" asp-action="MicrosoftLogin">Microsoft ile giriş yap</a>

        <a class="btn btn-link" asp-action="ResetPassword">Şifremi unuttum</a>
    </div>
</div>