@model UdemyIdentity.ViewModes.PasswordResetViewModel

@{
    ViewData["Title"] = "ResetPasswordConfirm";
}
<div class="row">
    <div class="col-md-4 offset-md-4">
        @if (ViewBag.status == "success")
        {

            <div class="alert alert-info">Şifreniz başarıyla yenilenmiştir. Giriş sayfasından yeni şifreniz ile giriş yapabilirsiniz.</div>
            <a class="btn btn-link" asp-action="Login" asp-controller="Home">Giriş için tıklayınız.</a>

        }
        else
        {

            <h4>Şifre Yenileme Formu</h4>
            <hr />
            <form asp-action="ResetPasswordConfirm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="PasswordNew" class="control-label"></label>
                    <input asp-for="PasswordNew" class="form-control" />
                    <span asp-validation-for="PasswordNew" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Yeni şifre oluştur" class="btn btn-primary" />
                </div>
            </form>

        }
    </div>
</div>