@model UdemyIdentity.ViewModes.PasswordResetViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        @if (ViewBag.status == "success")
        {

            <div class="alert alert-info">Şifre yenileme linki e-posta adresinize gönderilmiştir. E-postanızı kontrol ediniz</div>

        }
        else

        {
            <h4>Şifremi Unuttum</h4>
            <hr />
            <div class="alert alert-info">
                Yeni şifre belirlemek için kayıtlı e-posta adresinizi yazınız.
                Şifre değiştirme linkini e-posta adresinize göndereceğiz.
            </div>
            <form asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Gönder" class="btn btn-primary" />
                </div>
            </form>

        }
    </div>
</div>