@model TwoFactorLoginViewModel

@{
    ViewData["Title"] = "TwoFactorLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script type="text/javascript">

        $("#sendEmail").click(() => {

            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "./AgainSendEmail",
                dataType: "json",
                success: function (response) {

                    if (response == true) {
                        alert("Doğrulama kodu tekrar email adresinize gönderilmiştir.")
                    }
                    else {
                        alert("Bir hata meydana geldi")
                    }

                },
                error: function () {
                    alert("Bir hata meydana geldi");
                }

            })

        })

        $(document).ready(() => {

            var timeLeft = parseInt("@ViewBag.timeLeft");

            function makeTimer() {

                //80  1:20 saniye
                //40  0:40 saniye

                var minutes = Math.floor(timeLeft / 60);
                var seconds = Math.floor(timeLeft - (minutes * 60));

                if (minutes < 10) { minutes = "0" + minutes };
                if (seconds < 10) { seconds = "0" + seconds };

                $("#minutes").html(minutes);
                $("#seconds").html(seconds);
                timeLeft--
                if (timeLeft == 0) {
                    window.location.href = "/Home/Login";
                }

            }

            makeTimer();

            setInterval(() => makeTimer(), 1000);

        });
    </script>

}
<div class="row">

    <div class="col-md-4  offset-md-4">

        <h4>İki Adımlı Kimlik Doğrulama</h4>
        <hr />

        <form asp-action="TwoFactorLogin" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="VerificationCode"></label>
                <input asp-for="VerificationCode" class="form-control" />
                <span asp-validation-for="VerificationCode" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="checkbox" asp-for="isRememberMe" /> Beni Hatırla
            </div>

            @if (Model.TwoFactorType == TwoFactor.MicrosoftGoogle)
            {
                <div class="form-group">

                    <input type="checkbox" asp-for="isRecoverCode" /> Kurtarma kodu girmek için bu kutucuğu işaretleyiniz.
                </div>
            }

            <div class="form-group">

                <input type="submit" class="btn btn-success" value="Gönder" />

                @if (Model.TwoFactorType == TwoFactor.Email)
                {

                    <input class="btn btn-primary" type="button" id="sendEmail" value="Tekrar email gönder" />
                }
            </div>
        </form>

        @if (Model.TwoFactorType == TwoFactor.Email || Model.TwoFactorType == TwoFactor.Phone)
        {

            <div class="alert alert-primary">

                <span class="text-primary" id="minutes"></span> dakika <span class="text-primary" id="seconds"></span>  kaldı
            </div>

        }

        <div class="alert alert-info">

            @switch (Model.TwoFactorType)
            {

                case TwoFactor.Phone:
                    <span>Telefonunuza gelen sms kodunu bu alana  giriniz.</span>
                    break;
                case TwoFactor.Email:
                    <span>Email adresinize gelen kodu bu alana  giriniz.</span>
                    break;
                case TwoFactor.MicrosoftGoogle:
                    <span>Microsoft/Google Authenticator uygulamanızdaki kodu bu alana giriniz.</span>
                    break;
                default:
                    break;
            }
        </div>
    </div>
</div>