@model UdemyIdentity.ViewModes.PasswordResetByAdminViewModel

@{
    ViewData["Title"] = "ResetUserPassword";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h3>Üye şifre değiştirme</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetUserPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="UserId" class="form-control" />

            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>