@model SelectList

@{
    ViewData["Title"] = "RoleAssign";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h3>Kullanıcıya rol atama(@ViewBag.userName)</h3>
<hr />

<form asp-controller="Admin" asp-action="RoleAssign" method="post">

    <select name="userrole" asp-items="Model"></select>

    <input class="btn btn-success" type="submit" value="Rol ata" />
</form>