@model UdemyIdentity.ViewModes.RoleViewModel

@{
    ViewData["Title"] = "RoleCreate";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h3>Role Oluşturma</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RoleCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Rol oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>