@model AuthenticatorViewModel
@{
    ViewData["Title"] = "TwoFactorAuth";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}

<h2>İki Adımlı Kimlik Doğrulama</h2>
<div class="row">
    <div class="col-md-12">

        <form asp-action="TwoFactorAuth" method="post">

            <div class="form-group">

                <label asp-for="TwoFactorType"></label>
                <select class="form-control" asp-for="TwoFactorType" asp-items="Html.GetEnumSelectList<TwoFactor>()"></select>
            </div>

            <div class="form-group">

                <input type="submit" value="Güncelle" class="btn btn-success" />
            </div>
        </form>
    </div>

    @if (ViewBag.warning != null)
    {
        <div class="col-md-12">

            <div class="alert alert-warning">
                @ViewBag.warning
            </div>
        </div>

    }

    @if (TempData["message"] != null)
    {
        <div class="col-md-12">

            <div class="alert alert-info">
                @TempData["message"]
            </div>
        </div>

    }

    @if (TempData["recoveryCodes"] != null)
    {
        <div class="col-md-12">

            <div class="alert alert-info">
                Aşağıdaki kodları güvenli bir yerde saklayınız. Microsoft/Google Authenticator uygulamasını kullanamadığınız durumlarda bu kurtarma kodlarını kullanabilirsiniz.
            </div>

            <div class="alert alert-secondary">
                @foreach (var item in TempData["recoveryCodes"] as string[])
                {
                    <strong>@item</strong>
                }
            </div>
        </div>

    }
</div>